html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.customButton {
  width:200px;
  height:60px;
  background-color: #FE847F;
  border:rgb(255,255,255);
  color: rgb(15, 15, 15);
  font-weight:bold;
  padding: 15px 32px;
  border-radius: 15px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.9s; /* Safari */
  transition-duration: 0.9s;
}

.wordButton {
  width:230px;
  height:60px;
  background-color: #5d322b;
  border:rgb(255,255,255);
  color: rgb(255, 255, 255);
  font-weight:bold;
  padding: 15px 32px;
  border-radius: 15px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.9s; /* Safari */
  transition-duration: 0.9s;
}

.customInput {
  width:900px;
  height:30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  outline:none;
  font-size: 20px;
  

}
.customInput2 {
  width:200px;
  height:30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  outline:none;
  font-size: 20px;
  

}





